
* {
    font-family: 'Open Sans',sans-serif;
}

h3 {
    color: #ff0000;
    font-weight: 900;
    font-size: 24px;
}

#project_course,#author,#faculty,#description {
    font-weight: bold;
}

#description {
    font-family: 'Oswald',sans-serif;
    font-size: 12px;
}

#comment_container {
    max-height: 250px;
    overflow-y: scroll;
    max-width:  400px;
}

/* #comment_container  expo-comment:nth-of-type(2n) {
     --comment-bubble-color: rgba(200, 0, 0);
 }*/

#video_frame {
    width: 95%;
    aspect-ratio: 16 / 9;
}