
* {
    --gallery-width: 1140px;
    --project-margins: 6px;
    --project-width: calc(calc(var(--gallery-width) / 3) - 2*var(--project-margins));
}

#gallery {
    max-width: var(--gallery-width);
    margin: auto;
}

#gallery  ::slotted(expo-project) {
    min-width: var(--project-width);
    margin: var(--project-margins);
    position: relative;
}


@media(min-width: 1140px) {
    #gallery {
        display: grid;
        grid-template-columns: var(--project-width) var(--project-width) var(--project-width);
    }

    ::slotted(expo-project:nth-child(3n - 2)):after {
        width: 250%;
        margin-left: 15%;
        position: absolute;
        bottom: -10px;
        content: "";
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 4px solid rgba(255,82,82,1);
        display: block;
    }
}

@media (min-width: 760px) and (max-width: 1139px) {

    #gallery {
        display: grid;
        grid-template-columns: var(--project-width) var(--project-width);
    }

    ::slotted(expo-project:nth-child(2n - 1)):after {
        width: 150%;
        margin-left: 15%;
        content: "";
        position: absolute;
        bottom: -10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 4px solid rgba(255,82,82,1);
        display: block;
    }
}

@media(max-width: 759px)  {
    ::slotted(expo-project):after {
        width: 80%;
        margin-left: 10%;
        content: "";
        position: absolute;
        bottom: -10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 4px solid rgba(255,82,82,1);
        display: block;
    }
}


:host([vertical=true]) #gallery {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
}

:host([vertical=true]) ::slotted(expo-project):after {
    width: 90%;
    content: "";
    position: absolute;
    margin-left: 0;
    bottom: -10px;
    left:0px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgba(255,82,82,1);
    display: block;
}