
* {
    font-family: 'Open Sans',sans-serif;
}

h3 {
    color: #ff0000;
    font-weight: 900;
    font-size: 24px;
    grid-area: title;
}

:host(:not([vertical])) h3 {
    height: 3em;
}
:host(:not([vertical]))    #project_card > p {
    height: 2em;
}
:host(:not([vertical]))    #project_card > p:nth-of-type(4) {
    height: fit-content;
}


#project_course,#author,#faculty,#description {
    font-weight: bold;
}

#project_course {
    grid-area: course;
}

#author {
    grid-area: author;
}

#faculty {
    grid-area: faculty;
}

#description {
    font-family: 'Oswald',sans-serif;
    font-size: 12px;
    grid-area: description;
}

#comment_container {
    max-height: 250px;
    overflow-y: scroll;
    max-width:  400px;
}

#comment_section {
    grid-area: comments;
}

/* #comment_container  expo-comment:nth-of-type(2n) {
     --comment-bubble-color: rgba(200, 0, 0);
 }*/

#video_frame {
    width: 95%;
    aspect-ratio: 16 / 9;
    grid-area: video;
    align-self: center;
    justify-self: center;
}

:host([vertical=true]) #project_card {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas:
     'video title'
     'video course'
     'video author'
     'video faculty'
     'video description'
     'video comments';
    column-gap: 15px;
}
